= simple_form_for [@map, @submission, @place], :method => 'POST',:url => '/' + params[:locale] + '/submissions/'+@submission.id.to_s+'/create_place?layer_id='+ @layer.id.to_s do |f|
  = f.input :layer_id, :as => :hidden, :input_html => { :value => @layer.id }
  = f.input :locale,  :as => :hidden, :input_html => { :value => params[:locale],:id => "locale" }
  
  = f.input :lat, :as => :hidden, :input_html => { :value => @place.lat }
  = f.input :lon, :as => :hidden, :input_html => { :value => @place.lon }
  = f.input :zip, :as => :hidden, :input_html => { :value => @place.zip }
  = f.input :city, :as => :hidden, :input_html => { :value => @place.city }

  = render 'form_head'
  .grid-x.grid-padding-x
    .large-6.medium-12.cell
      
      .grid-x.grid-padding-x
        .large-8.large-offset-2.medium-12.cell
          = f.error_notification
          - if @place.errors.full_messages.present?
            %ul.hide
              = @place.errors.full_messages.each do |item,msg|
                %li= item
      
      .grid-x.grid-padding-x
        .large-8.large-offset-2.medium-12.cell
          #selection{:data => { 'url' => "/#{params[:locale]}/submissions/#{@submission.id.to_s}/new_place?layer_id=1", 'map_id' => "#{@map.id}", 'layer_id' => "#{@layer.id}" }}
            .form-inputs
              = f.input :location, :as => :hidden, :label => t('simple_form.labels.location'), :placeholder => t('simple_form.placeholders.location')
              
              = f.label :adddress, :label => t('simple_form.labels.location')
              .input-group
                = f.input :address,  :label => false, :placeholder => t('simple_form.placeholders.location'), input_html: {:class => "address-lookup-field input-group-field"}
                
                .input-group-button
                  %button{:id => 'place_addresslookup_button', :class => 'button secondary', :title => 'Lookup for address'}
                    %i.fi-magnifying-glass.fi-24
                    %i.fi-fast-forward.fi-24.hide
              %p.hint= t('simple_form.hints.location')      
            #selection-hint
              %p
                How to map: Search an address with the field above by adding your home city name.
    
      
      .grid-x.grid-padding-x
        .large-8.large-offset-2.medium-12.cell
          .form-inputs
            = f.input :teaser, :label => t('simple_form.labels.teaser'), :as => 'text', :input_html => {:rows => 8, class: 'large-text tinymce', :placeholder => t('simple_form.placeholders.teaser') }
            %p.hint= t('simple_form.labels.teaser')
    
    .large-6.medium-12.cell      
      = render 'form_preview'
    

  %hr
  .grid-x
    .large-6.medium-6.small-12.cell
      .form-actions.text-right
        = f.button :submit, t('simple_form.labels.submit'), :class => "button"
