= simple_form_for [@map,@layer, @submission], :url => '/' + params[:locale] + '/submissions?layer_id=1' do |f|
  = f.input :layer_id, :as => :hidden, :input_html => { :value => @layer.id }
  = f.input :locale, :as => :hidden, :input_html => { :value => params[:locale] }
  = render 'form_head'
  .grid-x.grid-padding-x
    .large-6.medium-12.cell
          
      
      .grid-x.grid-padding-x
        .large-8.large-offset-2.medium-12.cell
          = f.error_notification
          - if @submission.errors.full_messages.present?
            %ul
              = @submission.errors.full_messages.each do |item,msg|
                %li= item
          = f.input :name, :label => t('simple_form.labels.title'), :placeholder => t('simple_form.placeholders.title')
          %p.hint= t('simple_form.hints.title')
              

      .grid-x.grid-padding-x
        .large-8.large-offset-2.medium-12.cell
          .form-inputs
            = f.input :email, :label => t('simple_form.labels.email'), :placeholder => t('simple_form.placeholders.email')
            %p.hint= t('simple_form.hints.email')
            
      .grid-x.grid-padding-x
        .large-6.large-offset-2.medium-12.small-6.cell
          = f.input :rights, as: 'boolean', :label => t('simple_form.labels.rights')
      .grid-x.grid-padding-x
        .large-6.large-offset-2.medium-12.small-6.cell
          = f.input :privacy, as: 'boolean', :label => t('simple_form.labels.privacy')
    
    .large-6.medium-12.cell      
      = render 'form_preview'
  %hr
  .grid-x
    .large-6.medium-6.small-12.cell
      .form-actions.text-right
        = f.button :submit, t('simple_form.labels.submit'), :class => "button"
