= simple_form_for [@map,@layer, @submission], :url => '/' + params[:locale] + '/submissions?layer_id=1' do |f|
  = f.input :layer_id, :as => :hidden, :input_html => { :value => @layer.id }
  .grid-x.grid-padding-x
    .large-10.large-offset-1.medium-12.cell
      %h1 
        = @map.title
      %h2
        = @map.subtitle
  .grid-x.grid-padding-x
    .large-10.large-offset-1.medium-12.cell
      - [{name: 'english', code: 'en'}, {name: 'deutsch', code: 'de'}, {name: 'francais', code: 'fr'}].each do |language|
        = link_to language[:name], current_page_params.merge(layer_id: params[:layer_id], locale: language[:code])
  .grid-x.grid-padding-x
    .large-10.large-offset-1.medium-12.cell
      != @map.text
  .grid-x.grid-padding-x
    .large-6.medium-12.cell
          
      
      .grid-x.grid-padding-x
        .large-8.large-offset-2.medium-12.cell
          = f.error_notification
          = @submission.errors.inspect
          - if @submission.errors.full_messages.present?
            %ul.hide
              = @submission.errors.full_messages.each do |item,msg|
                %li= item
          = f.input :name, :label => t('simple_form.labels.title'), :placeholder => t('simple_form.placeholders.title')
          %p.hint= t('simple_form.hints.title')
              

      .grid-x.grid-padding-x
        .large-8.large-offset-2.medium-12.cell
          .form-inputs
            = f.input :email, :label => t('simple_form.labels.email'), :placeholder => t('simple_form.placeholders.email')
            %p.hint= t('simple_form.hints.email')
            
      .grid-x.grid-padding-x
        .large-6.large-offset-2.medium-12.small-6.cell
          = f.input :rights, as: 'boolean', :label => t('simple_form.labels.rights')
      .grid-x.grid-padding-x
        .large-6.large-offset-2.medium-12.small-6.cell
          = f.input :privacy, as: 'boolean', :label => t('simple_form.labels.privacy')
    
    .large-6.medium-12.cell      
      %p
        Vorschau des Beitrages
      .callout
        %h3
          Name des Submitters
  %hr
  .grid-x
    .large-6.medium-6.small-12.cell
      .form-actions.text-right
        = f.button :submit, t('simple_form.labels.submit'), :class => "button"
