= simple_form_for [@map, @submission, @place, @image], :method => 'POST',:url => '/' + params[:locale] + '/submissions/'+@submission.id.to_s+'/create_image?layer_id=1&place_id=' + @place.id.to_s do |f|
  = f.association :place, as: :hidden, :input_html => { :value => @place.id }
  = render 'form_head'
  .grid-x
    .large-12.cell
      = f.error_notification
      = @image.errors.inspect

             
  .grid-x.grid-padding-x
    .large-6.medium-12.cell

      .grid-x.grid-padding-x
        .large-8.large-offset-2.medium-12.cell
          .form-inputs
            = f.input :file, as: :file, input_html: { accept: ('image'), multiple: false }, label: t('simple_form.labels.image')
            %p.hint= t('simple_form.hints.image')
      .grid-x.grid-padding-x
        .large-8.large-offset-2.medium-12.cell
          .form-inputs
            = f.input :title, :label => t('simple_form.labels.image_description'), :placeholder => t('simple_form.placeholders.image_description')
            %p.hint= t('simple_form.hints.image_description')

     
    .large-6.medium-12.cell      
      %p
        Vorschau des Beitrages
      .callout
        %h3
          Name des Submitters          
  
    

  %hr
  .grid-x
    .large-6.medium-6.small-12.cell
      .form-actions.text-right
        = f.button :submit, t('simple_form.labels.submit'), :class => "button"
