!!! 5
%html{ lang: "#{I18n.locale.to_s}" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: 'robots', content: 'noindex, nofollow' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= t('simple_form.form_intro.title')

    %meta{property:"og:type", content:"website"}
    %meta{property:"og:title", content:"#{t('simple_form.form_intro.title')}"}
    - description = t('simple_form.form_intro.text').truncate_words(40)
    %meta{property:"og:description", content:"#{description}"}
    %meta{property:"og:image", content:"#{Settings.app_url}#{asset_path('3px_ut_76_remembrance_draft_header.jpg')}"}


    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

    = favicon_link_tag asset_path('apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180'
    = favicon_link_tag asset_path('favicon-32x32.png'), rel: 'icon', type: 'image/png', sizes: '32x32'
    = favicon_link_tag asset_path('favicon-16x16.png'), rel: 'icon', type: 'image/png', sizes: '16x16'
    = favicon_link_tag asset_path('site.webmanifest'), rel: 'manifest'
    = favicon_link_tag asset_path('safari-pinned-tab.svg'), rel: 'mask-icon', color: '#5bbad5'
    = favicon_link_tag asset_path('favicon.ico'), rel: 'shortcut icon'
    %meta{name: 'msapplication-config', content: '/assets/favicon/browserconfig.xml'}
    %meta{name: 'theme-color', content: '#ffffff' }



  - klass = "lang-" + I18n.locale.to_s
  - if current_user
    - klass = klass + " logged_in "
  - if Rails.env == 'staging' || Rails.env == 'developement'
    - klass = klass + "#{Rails.env.parameterize}"
  - id = ''
  - if controller_name
    - id = "#{controller_name.parameterize}"

  %body{:id=>"#{id}", :class=>"#{klass}", :data => {locale: "#{I18n.locale}"}}
    %main{role: "main"}
      .grid-x
        .cell.medium-12
          = yield
    %footer.footer
      .grid-x
        .cell.large-10.medium-8.small-6
          
          = link_to 'https://www.stiftung-lager-sandbostel.de/about/', target: 'imprint' do
            = t('layouts.navigation.imprint')
        .cell.large-2.medium-4.small-6.text-right

          - if user_signed_in?
            %span.show-for-small-only
              %a{:href => settings_path, :title => 'Your Settings'}
                %i.fi-widget.fi-21


